<h1>Contact Us</h1>

Data from somewhere: {{dataService.myData}}
<form [formGroup]="messageForm" (ngSubmit)="onsubmit()">
  <h5 *ngIf="success">Your form is valid</h5>

  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors">
      <div *ngIf="messageForm.controls.name.errors.required">Required</div>
    </div>
  </label>

  <label>
    Message:
    <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors">
      <div *ngIf="messageForm.controls.message.errors.required">Required</div>
    </div>
  </label>

  <input type="submit" value="Send Message" class="cta">

</form>

<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{messageForm.controls.name.value}}</span>
  <strong>Message:</strong>
  <span>{{messageForm.controls.message.value}}</span>
</div>
