.chart-nav-container {
    // display: flex;
    // justify-content: space-between;
}

.chart-container {
    display: none;
  
}

.hide{
    display: none;
}

.show {
    display: block;
}

button {
    padding: 10px;
    margin: 5px;
}