<p>Todo list</p>
<form [formGroup]="taskForm" (ngSubmit)="onsubmit()">

  <label>
    Task:
    <input type="text" formControlName="task" (keyup.enter)="submit">
  </label>
  <input type="submit" value="Add To List" class="cta">
  <div *ngIf="submitted && taskForm.controls.task.errors">
    <div class="error" *ngIf="taskForm.controls.task.errors.required">Task Name is Required</div>
  </div>
</form>

Number of Tasks: {{tasklist.length}}

<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngIf="tasklist.length > 0">
    <ul>
      <div *ngFor="let item of tasklist index as index" class="pop" cdkDrag>
        <li>Item: {{item}}</li> <button (click)="delete(index)">Delete</button>
      </div>
    </ul>
  </div>
</div>
